.container {
  list-style: none;
  padding: 0 1rem;
  width: calc(100% - 20px);
  margin: 0 10px;
  box-shadow: 0 0 0 hsla(0, 0%, 0%, 0);
  opacity: 1;
  background-color: hsla(0, 0%, 0%, 0);
  transition:
    background-color 0.4s,
    box-shadow 0.4s,
    opacity 0.4s;
  border-radius: 2px;
}

.container:focus {
  outline: none;
  background-color: hsla(0, 0%, 98%, 1);
  box-shadow:
    0 3px 6px hsla(0, 0%, 0%, 0.16),
    0 3px 6px hsla(0, 0%, 0%, 0.23);
}

.time,
.name,
.tags {
  display: inline-block;
}

.time {
  min-width: 60px;
}

.name {
  min-width: 300px;
}

.time,
.name {
  margin-right: 1rem;
}

.running,
.running:focus {
  background-color: hsl(120, 30%, 90%);
}
